* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

#nav_menu ul {
    list-style-type: none;
}

#nav_menu ul li {
    float: left;
}

#nav_menu ul li a {
    text-align: center;
    display: block;
    width: 175px;
    padding: 1em 0;
    text-decoration: none;
    background-color: blue;
    color: white;
    font-weight: bold;
    border-right: 2px solid white;
}

body {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 100%;
    width: 1000px;
    background-color: white;
    margin: 15px auto;
    padding: 15px 1.5em;
    border: 1px solid black;
    border-radius: 20px;
    box-shadow: 5px 5px 0 0;
    background-image: url("../images/SHSU\ LOGOOOOO.jpg");
    background-repeat: repeat-y;
    background-position: right;
    background-attachment: fixed;
}

aside{
    width: 25%;
    float: right;
    background-color: #ffebc6;
    padding-left: 2em;
    padding-bottom: 2em;
}

p.fixed{
    width: 200px;
    padding: 20px;
    background-color: #ffebc6;
    position: fixed;
    right: 20px;
    bottom: 450px;
}

article img{
    float: left;
    margin-right: 1em;
    margin-bottom: 1em;

}
article{
    clear: left;
    width: 75%;
    float: left;
    column-count: 2;
    column-rule: 2px dotted maroon;
    column-gap: 2em;
    margin-left: 2em;
}

footer{
    border-top: 2px solid maroon;
    text-align: center;
}